@using LibraryManagementSystem.Models.Entity
@model List<BOOK>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Book Section</h2>
@using (Html.BeginForm("Index","Book",FormMethod.Get))
            {
                <div style="margin-top:15px; margin-bottom:15px">
                    <b>Search For Book:</b> @Html.TextBox("item")
                    <input  type="submit" value="Search" />
                </div>
            }

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Book Nme</th>
        <th>Book's Author</th>
        <th>Book's Category</th>
        <th>Book's Publish Date</th>
        <th>Book's Publisher</th>
        <th>Book's Page</th>
        <th>Book's Status</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.NAME</td>
            <td>@(item.AUTHOR != null ? item.AUTHOR.NAME + " " + item.AUTHOR.SURNAME : "Author Not Assigned")</td>
            <td>@(item.CATEGORY != null ? item.CATEGORY.NAME : "Category Not Assigned")</td>
            <td>@item.PUBLISHDATE</td>
            <td>@item.PUBLISHER</td>
            <td>@item.PAGE</td>
            <td>@item.STATUS</td>
            <td><a href="/Book/BookDelete/@item.ID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Book/BookGet/@item.ID" class="btn btn-success">Update</a></td>
        </tr>
    }
</table>
<a href="/Book/BookAdd" class="btn btn-primary">New Book Add</a>