@model LibraryManagementSystem.Models.Entity.LOANS

@{
    ViewBag.Title = "ReturnLoan";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("LoanUpdate", "Loan", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>Loan Id</label>
        @Html.TextBoxFor(C => C.ID, new { @class = "form-control" })
        <br />
        <label>Book Name</label>
        @Html.TextBoxFor(c => c.BOOK.NAME, new { @class = "form-control" })
        <br />
        <label>User Name</label>
        @Html.TextBoxFor(c => c.USER.NAME, new { @class = "form-control" })
        <br />
        <label>Staff Name</label>
        @Html.TextBoxFor(c => c.STAFF.NAME, new { @class = "form-control" })
        <br />
        <label>Borrow Date</label>
        @Html.TextBoxFor(c => c.BORROWDATE, "{0: dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Due Date</label>
        @Html.TextBoxFor(c => c.DUEDATE, "{0: dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>User Return Date</label>
        <input type="text" class="form-control" name="USERRETURN" value="@DateTime.Now.ToShortDateString()" />
        <br />
        <label>Late Day Count</label>
        <input type="text" class="form-control" id="latereturn" value="@ViewBag.vls"/>


    </div>
    <div>
        <button class="btn btn-warning">Return Loan</button>
    </div>
}
