@using LibraryManagementSystem.Models.Entity
@model List<LOANS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Return Completed List</h2>
<table class="table table-bordered">
    <tr>
        <th>Loan Id</th>
        <th>Book Nme</th>
        <th>User</th>
        <th>Staff</th>
        <th>Loan Date</th>
        <th>User Return Date</th>
        <th>Give Loan</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.BOOK.NAME</td>
            <td>@item.USER.NAME @item.USER.SURNAME</td>
            <td>@item.STAFF.NAME</td>
            <td>@Convert.ToDateTime(item.BORROWDATE).ToString("dd/MM/yy")</td>
            <td>@Convert.ToDateTime(item.USERRETURN).ToString("dd/MM/yy")</td>
            <td><a href="/Loan/ReturnLoan/@item.ID" class="btn btn-danger">Details</a></td>

        </tr>
    }
</table>


