
@{
    ViewBag.Title = "LinqCard";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/web3/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- font-awesome-icons -->
    <link href="~/web3/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <!-- banner -->
    <div class="clearfix"></div>

    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-book" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.vls1</h4>
                    <h3 class="ca-sub">Book Value</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.vls2</h4>
                    <h3 class="ca-sub one">User Value </h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-money" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.vls3</h4>
                    <h3 class="ca-sub two">Cashbox</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-apple" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.vls4</h4>
                    <h3 class="ca-sub three">Loans Book Value</h3>
                </div>
            </a>
        </li>

    </ul>

    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-list" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.vls5</h4>
                    <h3 class="ca-sub">Category</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-language" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">Cemal Sezer</h4>
                    <h3 class="ca-sub one">Most Active User</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-database" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">Türkler'in Tarihi'</h4>
                    <h3 class="ca-sub two">Most Popular Book</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-sticky-note" aria-hidden="true"></i>
                <div class="ca-content">

                    <h4 class="ca-main three">@ViewBag.vls8</h4>

                    <h3 class="ca-sub three">Most Book Author</h3>
                </div>
            </a>
        </li>

    </ul>
    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-barcode" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.vls9</h4>
                    <h3 class="ca-sub">Best Publisher</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bitcoin" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">Toprak</h4>
                    <h3 class="ca-sub one">Best Staff</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.vls11</h4>
                    <h3 class="ca-sub two">Sum Message Value</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">8</h4>
                    <h3 class="ca-sub three">Today Loans</h3>
                </div>
            </a>
        </li>

    </ul>
</body>
</html>
